DMWS-test/src/wsdl/localhost_9876/elearningwekaws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsweka/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsweka/" name="ElearningWekaWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsweka/" schemaLocation="http://localhost:9876/elearningwekaws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="execute">
<part name="parameters" element="tns:execute"></part>
</message>
<message name="executeResponse">
<part name="parameters" element="tns:executeResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="xmlToArrf">
<part name="parameters" element="tns:xmlToArrf"></part>
</message>
<message name="xmlToArrfResponse">
<part name="parameters" element="tns:xmlToArrfResponse"></part>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"></part>
</message>
<message name="executeTwo">
<part name="parameters" element="tns:executeTwo"></part>
</message>
<message name="executeTwoResponse">
<part name="parameters" element="tns:executeTwoResponse"></part>
</message>
<message name="executeWithManualDiscritize">
<part name="parameters" element="tns:executeWithManualDiscritize"></part>
</message>
<message name="executeWithManualDiscritizeResponse">
<part name="parameters" element="tns:executeWithManualDiscritizeResponse"></part>
</message>
<message name="executeClassifier">
<part name="parameters" element="tns:executeClassifier"></part>
</message>
<message name="executeClassifierResponse">
<part name="parameters" element="tns:executeClassifierResponse"></part>
</message>
<message name="visualizeTreeGraph">
<part name="parameters" element="tns:visualizeTreeGraph"></part>
</message>
<message name="visualizeTreeGraphResponse">
<part name="parameters" element="tns:visualizeTreeGraphResponse"></part>
</message>
<message name="executeTreeClassifer">
<part name="parameters" element="tns:executeTreeClassifer"></part>
</message>
<message name="executeTreeClassiferResponse">
<part name="parameters" element="tns:executeTreeClassiferResponse"></part>
</message>
<message name="executeWithDiscritize">
<part name="parameters" element="tns:executeWithDiscritize"></part>
</message>
<message name="executeWithDiscritizeResponse">
<part name="parameters" element="tns:executeWithDiscritizeResponse"></part>
</message>
<message name="executeManualDescritezation">
<part name="parameters" element="tns:executeManualDescritezation"></part>
</message>
<message name="executeManualDescritezationResponse">
<part name="parameters" element="tns:executeManualDescritezationResponse"></part>
</message>
<message name="executeFilter">
<part name="parameters" element="tns:executeFilter"></part>
</message>
<message name="executeFilterResponse">
<part name="parameters" element="tns:executeFilterResponse"></part>
</message>
<message name="executeCluster">
<part name="parameters" element="tns:executeCluster"></part>
</message>
<message name="executeClusterResponse">
<part name="parameters" element="tns:executeClusterResponse"></part>
</message>
<message name="executeAssociate">
<part name="parameters" element="tns:executeAssociate"></part>
</message>
<message name="executeAssociateResponse">
<part name="parameters" element="tns:executeAssociateResponse"></part>
</message>
<portType name="ElearningWekaWS">
<operation name="execute">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeRequest" message="tns:execute"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeResponse" message="tns:executeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/execute/Fault/Exception"></fault>
</operation>
<operation name="xmlToArrf">
<input wsam:Action="http://wsweka/ElearningWekaWS/xmlToArrfRequest" message="tns:xmlToArrf"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/xmlToArrfResponse" message="tns:xmlToArrfResponse"></output>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://wsweka/ElearningWekaWS/xmlToArrf/Fault/JAXBException"></fault>
</operation>
<operation name="executeTwo">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeTwoRequest" message="tns:executeTwo"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeTwoResponse" message="tns:executeTwoResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeTwo/Fault/Exception"></fault>
</operation>
<operation name="executeWithManualDiscritize">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeWithManualDiscritizeRequest" message="tns:executeWithManualDiscritize"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeWithManualDiscritizeResponse" message="tns:executeWithManualDiscritizeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeWithManualDiscritize/Fault/Exception"></fault>
</operation>
<operation name="executeClassifier">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeClassifierRequest" message="tns:executeClassifier"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeClassifierResponse" message="tns:executeClassifierResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeClassifier/Fault/Exception"></fault>
</operation>
<operation name="visualizeTreeGraph">
<input wsam:Action="http://wsweka/ElearningWekaWS/visualizeTreeGraphRequest" message="tns:visualizeTreeGraph"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/visualizeTreeGraphResponse" message="tns:visualizeTreeGraphResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/visualizeTreeGraph/Fault/Exception"></fault>
</operation>
<operation name="executeTreeClassifer">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeTreeClassiferRequest" message="tns:executeTreeClassifer"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeTreeClassiferResponse" message="tns:executeTreeClassiferResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeTreeClassifer/Fault/Exception"></fault>
</operation>
<operation name="executeWithDiscritize">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeWithDiscritizeRequest" message="tns:executeWithDiscritize"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeWithDiscritizeResponse" message="tns:executeWithDiscritizeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeWithDiscritize/Fault/Exception"></fault>
</operation>
<operation name="executeManualDescritezation">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeManualDescritezationRequest" message="tns:executeManualDescritezation"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeManualDescritezationResponse" message="tns:executeManualDescritezationResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeManualDescritezation/Fault/Exception"></fault>
</operation>
<operation name="executeFilter">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeFilterRequest" message="tns:executeFilter"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeFilterResponse" message="tns:executeFilterResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeFilter/Fault/Exception"></fault>
</operation>
<operation name="executeCluster">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeClusterRequest" message="tns:executeCluster"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeClusterResponse" message="tns:executeClusterResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeCluster/Fault/Exception"></fault>
</operation>
<operation name="executeAssociate">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeAssociateRequest" message="tns:executeAssociate"></input>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeAssociateResponse" message="tns:executeAssociateResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeAssociate/Fault/Exception"></fault>
</operation>
</portType>
<binding name="ElearningWekaWSPortBinding" type="tns:ElearningWekaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="execute">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="xmlToArrf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeTwo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeWithManualDiscritize">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeClassifier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="visualizeTreeGraph">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeTreeClassifer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeWithDiscritize">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeManualDescritezation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeFilter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeCluster">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="executeAssociate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ElearningWekaWSService">
<port name="ElearningWekaWSPort" binding="tns:ElearningWekaWSPortBinding">
<soap:address location="http://localhost:9876/elearningwekaws"></soap:address>
</port>
</service>
</definitions>