DMWS-client/src/main/java/META-INF/wsdl/localhost_9876/elearningwekaws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsweka/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsweka/" name="ElearningWekaWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsweka/" schemaLocation="http://localhost:9876/elearningwekaws?xsd=1"/>
</xsd:schema>
</types>
<message name="executeWithDiscritize">
<part name="parameters" element="tns:executeWithDiscritize"/>
</message>
<message name="executeWithDiscritizeResponse">
<part name="parameters" element="tns:executeWithDiscritizeResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="executeWithManualDiscritize">
<part name="parameters" element="tns:executeWithManualDiscritize"/>
</message>
<message name="executeWithManualDiscritizeResponse">
<part name="parameters" element="tns:executeWithManualDiscritizeResponse"/>
</message>
<message name="executeManualDescritezation">
<part name="parameters" element="tns:executeManualDescritezation"/>
</message>
<message name="executeManualDescritezationResponse">
<part name="parameters" element="tns:executeManualDescritezationResponse"/>
</message>
<message name="visualizeTreeGraph">
<part name="parameters" element="tns:visualizeTreeGraph"/>
</message>
<message name="visualizeTreeGraphResponse">
<part name="parameters" element="tns:visualizeTreeGraphResponse"/>
</message>
<message name="executeClassifier">
<part name="parameters" element="tns:executeClassifier"/>
</message>
<message name="executeClassifierResponse">
<part name="parameters" element="tns:executeClassifierResponse"/>
</message>
<message name="executeAssociate">
<part name="parameters" element="tns:executeAssociate"/>
</message>
<message name="executeAssociateResponse">
<part name="parameters" element="tns:executeAssociateResponse"/>
</message>
<message name="executeCluster">
<part name="parameters" element="tns:executeCluster"/>
</message>
<message name="executeClusterResponse">
<part name="parameters" element="tns:executeClusterResponse"/>
</message>
<message name="executeTreeClassifer">
<part name="parameters" element="tns:executeTreeClassifer"/>
</message>
<message name="executeTreeClassiferResponse">
<part name="parameters" element="tns:executeTreeClassiferResponse"/>
</message>
<message name="executeFilter">
<part name="parameters" element="tns:executeFilter"/>
</message>
<message name="executeFilterResponse">
<part name="parameters" element="tns:executeFilterResponse"/>
</message>
<message name="xmlToArrf">
<part name="parameters" element="tns:xmlToArrf"/>
</message>
<message name="xmlToArrfResponse">
<part name="parameters" element="tns:xmlToArrfResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="executeTwo">
<part name="parameters" element="tns:executeTwo"/>
</message>
<message name="executeTwoResponse">
<part name="parameters" element="tns:executeTwoResponse"/>
</message>
<message name="execute">
<part name="parameters" element="tns:execute"/>
</message>
<message name="executeResponse">
<part name="parameters" element="tns:executeResponse"/>
</message>
<portType name="ElearningWekaWS">
<operation name="executeWithDiscritize">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeWithDiscritizeRequest" message="tns:executeWithDiscritize"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeWithDiscritizeResponse" message="tns:executeWithDiscritizeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeWithDiscritize/Fault/Exception"/>
</operation>
<operation name="executeWithManualDiscritize">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeWithManualDiscritizeRequest" message="tns:executeWithManualDiscritize"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeWithManualDiscritizeResponse" message="tns:executeWithManualDiscritizeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeWithManualDiscritize/Fault/Exception"/>
</operation>
<operation name="executeManualDescritezation">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeManualDescritezationRequest" message="tns:executeManualDescritezation"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeManualDescritezationResponse" message="tns:executeManualDescritezationResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeManualDescritezation/Fault/Exception"/>
</operation>
<operation name="visualizeTreeGraph">
<input wsam:Action="http://wsweka/ElearningWekaWS/visualizeTreeGraphRequest" message="tns:visualizeTreeGraph"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/visualizeTreeGraphResponse" message="tns:visualizeTreeGraphResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/visualizeTreeGraph/Fault/Exception"/>
</operation>
<operation name="executeClassifier">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeClassifierRequest" message="tns:executeClassifier"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeClassifierResponse" message="tns:executeClassifierResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeClassifier/Fault/Exception"/>
</operation>
<operation name="executeAssociate">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeAssociateRequest" message="tns:executeAssociate"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeAssociateResponse" message="tns:executeAssociateResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeAssociate/Fault/Exception"/>
</operation>
<operation name="executeCluster">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeClusterRequest" message="tns:executeCluster"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeClusterResponse" message="tns:executeClusterResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeCluster/Fault/Exception"/>
</operation>
<operation name="executeTreeClassifer">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeTreeClassiferRequest" message="tns:executeTreeClassifer"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeTreeClassiferResponse" message="tns:executeTreeClassiferResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeTreeClassifer/Fault/Exception"/>
</operation>
<operation name="executeFilter">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeFilterRequest" message="tns:executeFilter"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeFilterResponse" message="tns:executeFilterResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeFilter/Fault/Exception"/>
</operation>
<operation name="xmlToArrf">
<input wsam:Action="http://wsweka/ElearningWekaWS/xmlToArrfRequest" message="tns:xmlToArrf"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/xmlToArrfResponse" message="tns:xmlToArrfResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://wsweka/ElearningWekaWS/xmlToArrf/Fault/JAXBException"/>
</operation>
<operation name="executeTwo">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeTwoRequest" message="tns:executeTwo"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeTwoResponse" message="tns:executeTwoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/executeTwo/Fault/Exception"/>
</operation>
<operation name="execute">
<input wsam:Action="http://wsweka/ElearningWekaWS/executeRequest" message="tns:execute"/>
<output wsam:Action="http://wsweka/ElearningWekaWS/executeResponse" message="tns:executeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wsweka/ElearningWekaWS/execute/Fault/Exception"/>
</operation>
</portType>
<binding name="ElearningWekaWSPortBinding" type="tns:ElearningWekaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="executeWithDiscritize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeWithManualDiscritize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeManualDescritezation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="visualizeTreeGraph">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeClassifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeAssociate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeCluster">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeTreeClassifer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="xmlToArrf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="executeTwo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="execute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ElearningWekaWSService">
<port name="ElearningWekaWSPort" binding="tns:ElearningWekaWSPortBinding">
<soap:address location="http://localhost:9876/elearningwekaws"/>
</port>
</service>
</definitions>